<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    @RenderSection("Styles", required: false)
</head>

<header class="page-header">
  <div class="header-left">
    <button id="homeBtn" class="logo-button" onclick="location.href='/polls';">
      <img src="~/images/logo.png" alt="На главную" />
    </button>
  </div>
  <div class="header-right">
    @RenderSection("HeaderExtras", required: false)
  </div>
</header>

<body>


<main class="container">
    @RenderBody()
</main>


</body>
</html>